.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
    text-align: left;
    width: 2%;
    padding: 1%;
}
#logonav {
    height: 75px;
}
nav {
    width: 89%;
    padding: 1%;
    background-color: #D08F70;
    margin-bottom: 25px;
}
header ul {
    float: right;
    color: white;
}
.heroimg {
    width: auto;
    height: 600px;
    padding: 25px;
}
#mainphoto {
    height: 300px;
}
.content {
    text-align: center;
    background-color: beige;
    width: 500px;
    margin: 0 auto;
    padding: 1%;
}
button {
    color: white;
    background-color: black;
    height: 40px;
    border-radius: 5px;
}
footer {
    margin-top: 25px;
    background-color: #373738;
    padding: 2px;
    color: white;
}
footer ul {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding: 1%;
    color: white;
}
.flexContainer{
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.flexContainer div {
    text-align: center;
    width: 33%;
    margin: 2%;
}
.flexContainer p {
    margin-left: 10%;
    margin-right: 10%;
}
.workGrid div {
    display: grid;
}
